<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #profilePicContainer {
            position: relative;
            width: 150px;
            height: 150px;
            margin: 20px auto;
            overflow: hidden;
            border-radius: 50%;
        }
        
        #profilePic {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <div id="profilePicContainer">
        <img id="profilePic" src="C:\\Users\\91937\\Desktop\\Projec\\user_profile_pic\\photo.jpg" alt="User Profile Picture">
    </div>
</body>

</html>